<p>Olá <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Estamos entrando em contato para avisar que seu e-mail foi alterado <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Estamos entrando em contato para avisar que seu e-mail foi alterado para <%= @resource.email %>.</p>
<% end %>
