<p>OLá <%= @resource.email %>!</p>

<p>Alguém está solicitando a alteração da sua senha. Você pode fazer isso através do link abaixo.</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não solicitou a alteração de sua senha, por favor disconsiderar esse e-mail.</p>
<p>Sua senha não será alterada a menos que clique no link acima.</p>
